<h1 style="background-color: gray; text-align: center; margin: 0;">This is the heading of my first html page</h1>
<%= image_tag 'img.jpg' %>
<hr>
<table style="width:100%">
    <tr>
	<td>lorem ipsum</td>
	<td>lorem ipsum</td>
    </tr>
</table>
<p>This is a paragraph.</p>

<%= link_to 'About', about_path %>